{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Inicio - Chile Motors{% endblock %}

{% block content %}
    <!-- Título de la página -->
    <div class="container mt-5">
        <h2 class="text-center">Datos Personales</h2>
    </div>

    <!-- Formulario de datos personales -->
    <div class="container mt-3">
        <!-- Contenido del formulario -->
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" name="telefono">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock content %}